<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Task List Using hbs</h1>
    <form action="/addtask" method="POST">
    <input type="text" name="task" placeholder="Add Task">
    <button type="submit">Add Task</button>
    </form>
    <ul>
        {{#each taskList as |t|}}
            <li>{{t}}</li>
        {{/each}}
    </ul>
</body>
</html>