body {
  font-family: sans-serif;
}

/* .productBox {
  border: 1px solid black;
} */

.productBoxItem {
  width: 80%;
  margin: 10px auto;
  /* border: 1px solid black; */
  /* background-color: orange; */
}

.title {
  float: left;
  font-size: 24px;
}

.inputElement {
  float: right;
  width: 70%;
  font-size: 24px;
  padding: 5px;
}

.productBoxItem::after {
  content: "";
  display: table;
  clear: both;
}

.productBtn {
  width: 80%;
  margin: auto;
  /* border: 1px solid green; */
}

.productBtn button {
  width: 100%;
  font-size: 24px;
  background-color: rgb(79, 0, 110);
  border: 0px;
  padding: 5px;
  color: white;
}

.productBtn button:hover {
  cursor: pointer;
}

.description{
  width: 100%;
  font-size: 24px;
}

.descriptionBox input{
  font-size: 24px;
  width: 80%;
  padding: 5px;
}

.descriptionBtn{
  width: 15%;
  padding: 5px;
  font-size: 24px;
}