<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styles/product.css">
    <link rel="stylesheet" href="/styles/cart.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    {{>navbar isAdmin=isAdmin cartCount=cartCount totalPrice=totalPrice}}

    <div class="container">
        <div class="productDetails">
            {{>cartProducts products=products}}
        </div>
    </div>

    <button class="logoutBtn">
        <a href="/logout">logout</a>
    </button>

    <script src="/js/product.js"></script>
    <script src="/js/addToCart.js"></script>
    <script src="/js/updateCartQty.js"></script>
</body>

</html>