/* font properties */
/* font-size */
p{
    font-size: 20px;
}

/* font-family */

p{
    font-family: monospace;
}
/* font-weight */

p{
    font-weight: 600;
}

/* line-height */
p{
    line-height: 2rem;
}

/* letter spacing */

p{
    letter-spacing: 0.5rem;
}

/* List type */

li{
    border: 2px solid black;
}
/* list style position */

li{
    list-style-position: inside;
}

/* list style type */
li{
    list-style-type: square;
}

/* Border properties */

/* h1{
    border: 2px solid black;
} */
/* border color */
h1{
    border-color: blue;
}

/* border width */
h1{
    border-width: 2px ;
}

/* border style */
h1{
    border-style: dotted;
}

/* border radius */

h1{
    border-radius: 20px;
}