
<div class="productItem">
    <div class="image" style="background-image: url({{this.product.imageUrl}})"></div>
    <div class="info">
        <h2>
            {{this.product.name}}
        </h2>
        <ul class="descriptionList">
            <li> {{this.product.description}}</li>
        </ul>
    </div>
    <div class="priceInfo">
        <div>
            $ {{this.product.price}}
        </div>
    </div>
</div>