<nav class="navbar">
    <div class="navItem">
        <img src="https://minio.codingblocks.com/amoeba/OnlineLogo2020.svg" alt="LESS Logo" width="100px"
            height="100px">
        <a class="navLink" href="#">Home</a>
        <a class="navLink" href="/shop/products">Products</a>
        <a class="navLink" href="/shop/cart">
            <span class="cartName">
                Cart
                {{#if this.cartCount}}
                <div class="cartCount">{{this.cartCount}}</div>
                {{else}}
                <div class="cartCount"></div>
                {{/if}}
            </span>
        </a>
        <a class="navLink" href="#">Profile</a>
        {{#if this.isAdmin}}
        <a class="navLink" href="/admin/add-product">Add Product</a>
        <a class="navLink" href="/admin/products">View Product</a>
        {{/if}}

    </div>
    <div class="navItem">
        <input type="text" placeholder="Search any product">
    </div>
</nav>