*{
    margin: 0;
    padding: 0px;
}
.container{
    border: 1px solid black;
    margin: auto;
    width: 450px;
    box-shadow: 10px 20px 30px 0px;
}

h1{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 10px;
}

.input{
    margin: 20px 0px;
}

#inp1,#inp2,#btn{
    padding: 5px;
}

#btn{
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    padding: 6px;
    border: 0px;
}

.calculator{
    width: 400px;
    margin: auto;
}

tbody{
    text-align: center;
}