<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Chat App</title>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="activePeople">
        Active Users
        <div class="activePeopleList"></div>
    </div>
  <div class="container">
    <h1 class="chatAppHeading"><span>Chat Application</span></h1>

    <div class="userDetails">
      <input placeholder="Enter Username for chat" type="text" id="username" />
      <button id="btn1">Enter Chat</button>
    </div>

    <div class="chattingApp">
      <input type="text" id="chatbox" />
      <button id="btn">Send</button>
    </div>

    <ul class="msgList"></ul>
  </div>

  <script src="/js/chat.js"></script>
</body>
</html>
