<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learning to send mails</title>
</head>

<body>
    <h1>Sending Mails</h1>
    <form action="/signup" method="post">
        <input type="text" name="email" placeholder="Enter Email" id="email"><br>
        <button type="submit">signup</button>
    </form>
</body>

</html>